#mainform{
    margin: 0 auto;
    width: 700px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
}
.myform{
    margin: 0 auto;
    width: 450px;
}
.ip{
    width: 430px;
    margin: 0 auto;
    padding: 5px;
}
.sub{
    background-color:dodgerblue;
    padding: 5px;
    color: white;
    width: 250px;
}
.bck{
    background-color:#34495e;
    padding: 5px;
    color: white;
    width: 250px;
}
